extends layout

block content
    h1 #{title}
    p
    each section in endPoints
        h2 #{section.sectionTitle}
        each val in section.hosts
            li
                a(href=val) #{val}