body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

ul {
  margin: 0 !important;
}

li {
  list-style: none;
}

.sectionToggle {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.emptySection {
  color: gray;
}

.routeIcon {
  height: 18px;
  width: 18px;
  min-width: 18px;
}

.route {
  margin-left: 10px;
}
